---
layout: archive
title: "Awards"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<img src="/images/md2.png" alt="md2图片" style="display:block;max-width:100%;height:auto;margin:0 auto;">
<div style="margin-top:16px; text-align:center;">
  <a href="https://b23.tv/w0ux5U4" target="_blank"
     style="background:#fff; color:#000; border:none; padding:8px 18px; border-radius:6px; text-decoration:none; font-size:1em; box-shadow:none; display:inline-block;">
    MIKU
  </a>
</div>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
